# Import Libraries

In [ ]:
import pandas as pd
import numpy as np

# Import Dataset

In [ ]:
df = pd.read_csv("Movies Recommendation.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [7]:
df.shape

(4760, 21)

In [8]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

# Selecting The Features

In [9]:
df_features = df[['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline', 'Movie_Director']].fillna('')

In [10]:
df_features.shape

(4760, 4)

In [11]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Sam Mendes
...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Jaco Booyens
4758,Family,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Simon Napier-Bell

In [12]:
Selections = df_features['Movie_Genre'] + ' ' + df_features['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + ' '+ df_features['Movie_Director']

In [13]:
Selections

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Pe...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                            Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [14]:
Selections.shape

(4760,)

# Get feature Text Conversion to Tokens

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
vectorizer = TfidfVectorizer()

In [17]:
X = vectorizer.fit_transform(Selections)

In [18]:
X.shape

(4760, 9666)

In [19]:
print(X)

  (0, 376)	0.18272810724070418
  (0, 316)	0.19632202064896634
  (0, 5024)	0.09373465698968353
  (0, 6094)	0.06761788284030082
  (0, 9426)	0.19090152648212289
  (0, 3256)	0.09303304831704608
  (0, 9401)	0.11559559866313328
  (0, 4521)	0.1443365785980048
  (0, 8543)	0.1065109136318404
  (0, 6131)	0.0786972588733094
  (0, 2203)	0.1375276201579133
  (0, 3175)	0.12385671298754733
  (0, 4023)	0.21434670508652215
  (0, 4253)	0.15944969524116445
  (0, 866)	0.21315961343110615
  (0, 5106)	0.16963506748686155
  (0, 6133)	0.08935032151608546
  (0, 374)	0.08264227113134892
  (0, 7062)	0.21315961343110615
  (0, 7448)	0.21315961343110615
  (0, 3296)	0.15847233257383517
  (0, 3724)	0.20331025305114117
  (0, 6209)	0.20331025305114117
  (0, 8864)	0.19090152648212289
  (0, 7244)	0.15847233257383517
  :	:
  (4757, 1975)	0.26800244457573114
  (4757, 3821)	0.29309239322653075
  (4757, 7673)	0.22148093071406288
  (4757, 7622)	0.20123579506754563
  (4757, 3145)	0.168092031177192
  (4757, 4761)	0.31653219908433233
  (4757, 3948)	0.2305741747626342
  (4757, 8597)	0.10300110054376047
  (4757, 8644)	0.1312593706509848
  (4757, 4404)	0.15447322365698812
  (4757, 5939)	0.1957451067341251
  (4757, 2565)	0.07636984555550978
  (4758, 3012)	1.0
  (4759, 5864)	0.3489795931696709
  (4759, 7786)	0.3489795931696709
  (4759, 6411)	0.3489795931696709
  (4759, 166)	0.3328544664486442
  (4759, 4946)	0.3125392093504262
  (4759, 1692)	0.2891632535235492
  (4759, 865)	0.29915789158688394
  (4759, 4053)	0.27159180538281574
  (4759, 7777)	0.255466678661789
  (4759, 2500)	0.1881896442203568
  (4759, 3313)	0.22790059245772076
  (4759, 5811)	0.16333000721915777

# Get Similarity Score using Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
Similarity_score = cosine_similarity(X)

In [ ]:
Similarity_score

In [ ]:
Similarity_score.shape

# Get Movie name from user as Input and validate for Closest Spelling

In [ ]:
Favorite_movie_name = input("Enter your favourite Movie Name : ")

In [ ]:
All_movies_title_list = df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Movie_recommendation = difflib.get_close_matches(Favorite_movie_name, All_movies_title_list)
print(Movie_recommendation)

In [ ]:
Close_Match = Movie_recommendation[1]
print(Close_Match)

In [ ]:
Index_of_close_Match_movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_close_Match_movie)

# getting a list of Similar Movies

In [ ]:
Recommendation_Score = list(enumerate(Similarity_score[Index_of_close_Match_movie]))
print(Recommendation_Score)

In [ ]:
len(Recommendation_Score)

# Get All Movies Sort based on Recommendation Score WRT Favourite Movie

In [ ]:
#sorting the movies based on their similarity score

In [ ]:
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)
print(Sorted_Similar_Movies)

In [ ]:
#printing the name of Similar Movies Based on the Index

In [ ]:
print('Top 30 Movies Suggest for You : \n')

i = 1
for movie in Sorted_Similar_Movies:
    index = movie[0]
    title_from_index = df[df.index==index]['Movie_Title'].values[0]
    if (i<31):
        print(i, '.', title_from_index)
        i+=1

# Top 10 Movie Recommendation System

In [ ]:
Movie_Name = input("Enter Your Favourite Movie Name :  ")

list_of_all_titles = df['Movie_Title'].tolist()

Find_Close_match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_Match = Find_Close_Match[0]

Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]

Recommendation_Score = list(enumerate(Similarity_score[Index_of_movie]))

Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)

print('Top 10 Movies suggested for You : \n')

i = 1

for movies in Sorted_Similar_Movies:
    index = movie[0]
    title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
    if (i<11):
        print(i, '.', title_from_index)
        i+=1